.Nav {
  position: relative;
  width: 100vw;
  text-align: center;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.Nav .logo {
  position: absolute;
  left: 0;
  cursor: pointer;
  margin-left: 40px;
}

.Nav .logo a {
  color: #191515;
  font-size: 40px;
  text-decoration: none;
}

.Nav .menu {
  min-width: 150px;
  height: 100%;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.Nav .menu nav {
  min-width: 100%;
}

.Nav .menu nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Nav .menu nav ul li {
  position: relative;
  text-align: center;
  cursor: pointer;
}

.Nav .menu nav ul li a {
  text-decoration: none;
  color: #191515;
  font-size: 20px;
}

.Nav .menu nav ul li a:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  opacity: 60%;
}

.Nav .menu nav ul li.active::after {
  position: absolute;
  content: "";
  height: 5px;
  width: 100%;
  background-color: #5b5f97;
  left: 0;
  bottom: -19px;
  border-radius: 50px;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-animation: showUnderLine 0.3s linear;
          animation: showUnderLine 0.3s linear;
}

@-webkit-keyframes showUnderLine {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes showUnderLine {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.Nav .login_signin {
  position: absolute;
  right: 0;
  margin-right: 40px;
}

.Nav .login_signin .login p {
  color: #5b5f97;
}

.Nav .login_signin .signin p {
  font-size: 15px;
  color: #a7a7a7;
}

.Nav .login_signin .signin a {
  color: #191515;
}

.Header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #ffc6c6;
  width: 100vw;
  height: 80vh;
}

.Header .title {
  width: 50%;
  text-align: center;
}

.Header .available-offers button {
  background-color: #5b5f97;
  border: none;
  outline: none;
  padding: 10px 20px;
  color: #fffffb;
  border-radius: 50px;
  margin: 20px 0;
  cursor: pointer;
}

.Header .available-offers button:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.Header .available-offers button a {
  color: #fffffb;
  text-decoration: none;
}

.RecentOffers {
  min-height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.RecentOffers .title {
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 50px 0;
}

.RecentOffers .offers {
  width: 100%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}

.RecentOffers .offers .offer {
  height: 350px;
  width: 300px;
  background-color: #fffffb;
  border-radius: 20px;
  -webkit-box-shadow: -1px 1px 14px -2px rgba(0, 0, 0, 0.247);
  box-shadow: -1px 1px 14px -2px rgba(0, 0, 0, 0.205);
}

.RecentOffers .offers .offer:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.ForLandlords {
  min-height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.ForLandlords .title {
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 50px 0;
}

.ForLandlords .offers {
  width: 100%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}

.ForLandlords .offers .offer {
  height: 350px;
  width: 300px;
  background-color: #fffffb;
  border-radius: 20px;
  -webkit-box-shadow: -1px 1px 14px -2px rgba(0, 0, 0, 0.247);
  box-shadow: -1px 1px 14px -2px rgba(0, 0, 0, 0.205);
}

.ForLandlords .offers .offer:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.Footer {
  width: 100vw;
  height: 50vh;
  background-color: #5b5f97;
  margin-top: auto;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Gotham Rounded, sans-serif;
  font-weight: normal;
  list-style: none;
  padding: 0;
  margin: 0;
}

body,
html {
  position: relative;
  overflow-x: hidden;
  min-height: 100vh;
  scroll-behavior: smooth;
  background-color: #fffffb;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.children {
  min-height: 100vh;
}
/*# sourceMappingURL=App.css.map */