.Card {
  @include card();
  .offer-images {
    @include flex(column);
    position: relative;
    height: 250px;
    width: 100%;
    .btns {
      @include flex(row);
      z-index: 99;
      width: 100%;
      justify-content: space-between;
      .carousel-btn {
      }
    }
    .of-img {
      border-radius: 30px;
    }
  }
  .offer-details {
    .offer-title {
      margin: 10px 0;
      p {
        font-size: 20px;
        font-weight: bold;
        // font-family: "Noto Sans JP", sans-serif;
      }
    }
    .price-rank {
      @include flex(row);
      justify-content: space-between;

      .price-info {
        h2 {
          font-size: 20px;
          font-weight: bold;
          color: $main-color1;
        }
        p {
          color: $main-color2;
          font-weight: bold;
        }
      }

      .offer-ranking {
        @include flex(row);
        background-color: transparent;
        border: solid $main-color2 2px;
        padding: 5px 10px;
        p {
          margin-right: 5px;
          color: $main-color2;
          font-weight: bold;
        }
      }
    }
    .line {
      width: 100%;
      height: 1px;
      margin: 5px 0;
      background-color: rgb(206, 206, 206);
    }
    .landlord-facilities {
      @include flex(row);
      justify-content: space-between;

      .landlord {
        @include flex(row);
        .landlord-img {
          position: relative;
          width: 32px;
          height: 32px;
          margin-right: 5px;
          object-fit: cover;
          .ld-img {
            border-radius: 50px;
          }
        }
        .landlord-name {
          p {
            color: $main-color2;
          }
        }
      }
      .facilities {
        @include flex(row);
        justify-content: space-between;
        width: 35%;
        padding: 5px;
        .facilitie {
          @include flex(row);
          margin: 5px;
        }
      }
    }
    .datePosted-goToOfferBtn {
      @include flex(row);
      justify-content: space-between;
      margin-top: 10px;
      .date-posted {
        p {
          color: rgba(163, 163, 163, 0.972);
        }
      }
      .go-to-offer-btn {
        button {
          padding: 10px;
          border: none;
          border-radius: 20px 0 20px 0;
          background-color: $main-color2;
          color: $main-color3;
          &:hover {
            transition: 0.5s;
            background-color: lighten($main-color2, 10%);
          }
        }
      }
    }
  }
}
