// Colors
$main-color1: #ffac07;
$main-color2: #5b5f97;
$main-color3: #fffffb;
$main-black: hsl(0, 0%, 21%);

// fonts
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap");
// mixins

@mixin flex($direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

@mixin btn($bc-color, $border-color) {
  background-color: $bc-color;
  border: none;
  border: $border-color;
  outline: none;
  padding: 10px 20px;
  color: $main-color3;
  @if ($bc-color == transparent) {
    color: $main-color2;
  } @else {
    color: $main-color3;
  }
  @if ($border-color != none) {
    border: solid $border-color 0.5px;
  }
  font-size: 15px;
  height: 40px;
  width: 120px;
  border-radius: 50px;
  margin: 20px 0;
  cursor: pointer;
  &:hover {
    transition: 0.5s;
    @if ($bc-color == transparent) {
      background-color: lighten($main-color2, 50%);
    } @else {
      background-color: darken($bc-color, 10%);
    }
  }
}

@mixin no-style-btn {
  background-color: transparent;
  border: none;
  &:hover {
    color: #5b5f97;
  }
}

@mixin card() {
  height: 520px;
  min-width: 350px;
  background-color: $main-color3;
  border-radius: 20px;
  -webkit-box-shadow: -1px 1px 14px -2px rgba(0, 0, 0, 0.247);
  box-shadow: -1px 1px 14px -2px rgba(0, 0, 0, 0.205);
  padding: 30px;
  &:hover {
    transition: 0.5s;
    // transform: scale(1.03);
  }

  @media screen and (max-width: 640px) {
    min-width: 350px;
    height: 250px;
  }
}

@mixin input() {
  border: none;
  outline: none;
  padding: 10px;
  margin: 5px 0;
}

@mixin input2() {
  border: none;
  outline: none;
  padding: 15px;
  margin: 5px 0;
  background-color: #fff;
  width: 100%;
}
