.Header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100vw;
  height: calc(100vh - 60px);
  .text {
    width: 50%;
    .hd-title {
      h1 {
        font-size: 60px;
      }
    }
    .hd-description {
      margin: 10px 0;
      p {
        font-size: 25px;
      }
    }
    .btns {
      display: flex;
      gap: 10px;
      .find-tenant-btn {
        button {
          @include btn($main-color2, none);
        }
      }
      .find-flat-btn {
        button {
          @include btn(transparent, $main-color2);
        }
      }
    }
  }
  .vector-img-container {
    position: relative;
    width: 40%;
    height: 70%;
    margin-right: 5px;
    object-fit: cover;
    .ld-img {
      border-radius: 50px;
    }
  }
}

@media screen and (max-width: 1518px) {
  .Header {
    .text {
      .hd-title {
        h1 {
          font-size: 50px;
        }
      }
    }
    .vector-img-container {
      width: 600px;
    }
  }
}

@media screen and (max-width: 1333px) {
  .Header {
    .text {
      .hd-title {
        h1 {
          font-size: 40px;
        }
      }
      .hd-description {
        p {
          font-size: 20px;
        }
      }
    }
    .vector-img-container {
      width: 500px;
    }
  }
}

@media screen and (max-width: 1000px) {
  .Header {
    .text {
      width: 90%;
      .hd-title {
        h1 {
          font-size: 40px;
        }
      }
      .hd-description {
        p {
          font-size: 20px;
        }
      }
    }
    .vector-img-container {
      display: none;
    }
  }
}
