.RecentOffers {
  position: relative;
  min-height: 100vh;
  width: 100vw;
  text-align: center;
  .title {
    display: inline-block;
    width: fit-content;
    margin: 70px 0 90px 0;
  }
  .offers {
    width: 100%;
    z-index: 9;
    height: 80%;
    @include flex(row);
    gap: 20px;

    .offer {
      @include card();
    }
  }
}
