.Card {
  @include card();
  .offer-images {
    @include flex(column);
    position: relative;
    width: 100%;
    .btns {
      @include flex(row);
      z-index: 99;
      width: 100%;
      justify-content: space-between;
      .carousel-btn {
      }
    }
    .carousel {
      width: 100%;
      .slider {
        position: relative;
        width: 100%;
        height: 300px;
        object-fit: cover;
        border-radius: 50px;
      }
    }
  }
  .offer-details {
    .offer-title {
      color: gray;
      font-size: 23px;
      font-weight: bolder;
      text-transform: capitalize;
      margin-top: 10px;
    }
    .price-rank {
      @include flex(row);
      justify-content: space-between;

      .price-info {
        color: #000;
        .price {
          font-size: 30px;
          font-weight: bolder;
        }
        p {
          color: gray;
          font-weight: bolder;
        }
      }

      .offer-ranking {
        @include flex(row);
        background-color: transparent;
        border: solid #ff0067 4px;
        border-radius: 5px;
        padding: 1px 8px;
        span {
          @include flex(row);
          font-size: 20px;
          p {
            margin: 0;
            margin-right: 15px;
            color: #ff0067;
            font-weight: bolder;
          }
        }
      }
    }
    .line {
      width: 100%;
      height: 1px;
      margin: 5px 0;
      background-color: rgb(206, 206, 206);
    }
    .landlord-facilities {
      @include flex(row);
      justify-content: space-between;
      .landlord {
        @include flex(row);
        .landlord-img {
          position: relative;
          width: 40px;
          height: 40px;
          margin-right: 5px;
          object-fit: cover;
          .ld-img {
            border-radius: 50px;
          }
        }
        .landlord-name-username {
          .landlordName {
            color: #ff0067;
            font-weight: bold;
            font-size: 18px;
          }
          .landlordUsername {
            color: gray;
            font-weight: bold;
            font-size: 15px;
          }
        }
      }
      .facilities {
        @include flex(row);
        // padding: 0 35px;
        .facility {
          @include flex(row);
          font-size: 20px;
          color: gray;
          font-family: roboto;
          font-weight: bolder;
        }
      }
    }
    .datePosted {
      @include flex(row);
      justify-content: space-between;
      margin-top: 10px;
      .date-posted {
        color: gray;
        font-weight: bold;
        font-size: 15px;
      }
    }
  }
}
