.ForLandlords {
  @include flex(row);
  position: relative;
  width: 100vw;
  margin: 100px 0;
  padding: 20px;
  min-height: 70vh;
  justify-content: space-around;
  .features {
    @include flex(column);
    min-height: inherit;
    height: 100%;
    gap: 20px;
    .features-select {
      width: 100%;
      @include flex(row);
      justify-content: flex-start;
      gap: 10px;
      font-size: 35px;
      .features-select-title {
        font-size: 35px;
        color: black;
      }
      .forTenantsSelect,
      .forLandlordsSelect {
        font-size: 35px;
      }
    }
    .feature {
      background-color: transparent;
      padding: 60px;
      border-radius: 20px;
      border: solid $main-black 1px;
      width: 100%;
      .feature-title {
        font-size: 30px;
        color: $main-color2;
        margin: 10px 0;
        font-weight: bolder;
      }
      .sub-features {
        color: $main-black;
        font-size: 25px;
      }
    }
  }
  .feature-view {
    padding: 60px;
    min-height: inherit;
    height: 100%;
    border-radius: 20px;
    border: solid $main-black 1px;
    width: 40%;

    .feature-view-title {
      margin: 20px 0;
      color: $main-color2;
    }
    .feature-image-description {
      @include flex(row);
      min-height: 200px;
      width: 100%;
      padding: 10px;
      justify-content: space-between;
      flex-wrap: wrap;
      margin: 20px 0;
      .image-preview {
        position: relative;
        width: 40%;
        height: 400px;
        margin-right: 5px;
        object-fit: cover;
        .ld-img {
          border-radius: 50px;
        }
      }
      .feature-description {
        font-size: 30px;
        width: 430px;
        p {
          color: $main-black;
        }
      }
    }
    .left-btn,
    .right-btn {
      cursor: pointer;
    }
    .right-btn {
      float: right;
    }
  }
}
