// @import "./config";

.Nav {
  @include flex(row);
  // justify-content: flex-start;
  position: relative;
  width: 100vw;
  height: 60px;
  box-shadow: 1px 1px 5px #0000002d;
  height: fit-content;
  padding: 30px;
  #check,
  .ham-menu {
    display: none;
  }
  .logo {
    left: 0;
    position: absolute;
    cursor: pointer;
    margin-left: 60px;
    a {
      color: $main-black;
      font-size: 40px;
      text-decoration: none;
      font-family: roboto;
      font-weight: bolder;
    }
  }
  .menu {
    width: 70%;
    @include flex(row);
    height: fit-content;

    nav {
      width: 100%;
      height: fit-content;
      ul {
        @include flex(row);
        justify-content: flex-start;
        width: 100%;
        margin: 0;
        padding: 0;
        li {
          position: relative;
          text-align: center;
          cursor: pointer;
          margin: 0 30px;
          font-size: 23px;

          a {
            text-decoration: none;
            color: $main-black;
            &:hover {
              transition: 0.2s;
              opacity: 60%;
            }
          }
        }
      }
    }
  }
  .login_signup {
    display: flex;
    position: absolute;
    right: 0;
    margin-right: 40px;
    .login {
      cursor: pointer;
      .logInBtn {
        background-color: #78a5ff;
        border: solid #0339a6 1px;
        border-radius: 20px;
        padding: 5px 30px;
        text-transform: capitalize;
        color: #fff;
        font-family: roboto;
        font-size: 25px;
        font-weight: bold;

        &:hover {
          background-color: rgba(120, 165, 255, 0.829);
        }
      }
    }
    .signup {
      cursor: pointer;
      margin-left: 10px;
      .signUpBtn {
        background-color: #ffb8d5;
        border: solid #ff0067 1px;
        border-radius: 20px;
        padding: 5px 30px;
        text-transform: capitalize;
        font-size: 25px;
        font-weight: bold;

        color: #ff0067;
        font-family: roboto;
        font-weight: bolder;
        &:hover {
          background-color: #ffb8d6d2;
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .Nav {
    .menu {
      transform: translateY(-100vh);
    }
    .ham-menu {
      display: block;
      position: absolute;
      left: 0;
      margin-left: 20px;
      z-index: 99;
    }
    #check:checked ~ .menu {
      @include flex(column);
      transform: translateY(0);
      transition: 0.3s;
      background-color: $main-color2;
      width: 100vw;
      height: 50vh;
      z-index: 98;
      nav {
        ul {
          @include flex(column);

          li.active::after {
            display: none;
          }
        }
      }
    }
  }
}
