.Nav {
  @include flex(row);
  position: relative;
  width: 100vw;
  height: 60px;
  box-shadow: 1px 1px 5px #0000002d;
  height: fit-content;
  padding: 30px;
  #check,
  .ham-menu {
    display: none;
  }
  .logo {
    left: 0;
    position: absolute;
    cursor: pointer;
    margin-left: 60px;
    a {
      color: $main-black;
      font-size: 40px;
      text-decoration: none;
      font-family: roboto;
      font-weight: bolder;
    }
  }
  .menu {
    width: 70%;
    @include flex(row);
    height: fit-content;

    nav {
      width: 100%;
      height: fit-content;
      ul {
        @include flex(row);
        justify-content: flex-start;
        width: 100%;
        margin: 0;
        padding: 0;
        li {
          position: relative;
          text-align: center;
          cursor: pointer;
          margin: 0 30px;
          font-size: 23px;

          a {
            text-decoration: none;
            color: $main-black;
            &:hover {
              transition: 0.2s;
              opacity: 60%;
            }
          }
        }
      }
    }
  }
  .login_signup {
    display: flex;
    position: absolute;
    right: 0;
    margin-right: 40px;
    .login {
      cursor: pointer;
      .logInBtn {
        background-color: #78a5ff;
        border: solid #0339a6 1px;
        border-radius: 20px;
        padding: 5px 30px;
        text-transform: capitalize;
        color: #fff;
        font-family: roboto;
        font-size: 20px;
        font-weight: bold;

        &:hover {
          background-color: rgba(120, 165, 255, 0.829);
        }
      }
    }
    .signup {
      cursor: pointer;
      margin-left: 10px;
      .signUpBtn {
        background-color: #ffb8d5;
        border: solid #ff0067 1px;
        border-radius: 20px;
        padding: 5px 30px;
        text-transform: capitalize;
        font-size: 20px;
        font-weight: bold;

        color: #ff0067;
        font-family: roboto;
        font-weight: bolder;
        &:hover {
          background-color: #ffb8d6d2;
        }
      }
    }
  }
  .profileDetails {
    @include flex(column);
    position: absolute;
    right: 0;
    margin-right: 50px;
    .primaryInfo {
      @include flex(row);
      .imgContainer {
        position: relative;
        width: 40px;
        height: 40px;
        object-fit: cover;
        .userProfileImg {
          border-radius: 50px;
        }
      }

      .userName {
        margin-left: 10px;
        color: #ff0067;
      }
    }
    .userMenu {
      position: absolute;
      background-color: $main-color3;
      display: none;
      margin-left: 10px;
      margin-top: 160px;
      box-shadow: 1px 1px 10px hsla(0, 0%, 0%, 0.176);
      width: 100%;
      nav {
        ul {
          @include flex(column);
          margin: 0;
          padding: 0;
          li {
            position: relative;
            text-align: center;
            cursor: pointer;
            font-size: 15px;
            padding: 10px;
            a {
              text-decoration: none;
              color: $main-black;
              &:hover {
                transition: 0.2s;
                opacity: 60%;
              }
            }
          }
        }
      }
      &:hover {
        transition: 0.5s;
        display: block;
      }
    }
    &:hover .userMenu {
      transition: 0.5s;
      display: block;
    }
  }
}

@media screen and (max-width: 900px) {
  .Nav {
    .menu {
      transform: translateY(-100vh);
    }
    .ham-menu {
      display: block;
      position: absolute;
      left: 0;
      margin-left: 20px;
      z-index: 99;
    }
    .logo {
      left: 0;
      position: absolute;
      cursor: pointer;
      margin-left: 100px;
      a {
        color: $main-black;
        font-size: 40px;
        text-decoration: none;
        font-family: roboto;
        font-weight: bolder;
      }
    }
    #check:checked ~ .menu {
      @include flex(column);
      transform: translateY(0);
      transition: 0.3s;
      background-color: #000;
      width: 100vw;
      height: 50vh;
      z-index: 98;
      color: #fff;
      nav {
        ul {
          @include flex(column);

          li.active::after {
            display: none;
          }
        }
      }
    }
    .login_signup {
      display: flex;
      position: absolute;
      right: 0;
      margin-right: 40px;
      .login {
        cursor: pointer;
        .logInBtn {
          padding: 5px 20px;
        }
      }
      cursor: pointer;
      .signUpBtn {
        padding: 5px 20px;
      }
    }
    .profileDetails {
      width: 40px;
      height: 40px;
      background-color: red;
      .userProfileImg {
        border-radius: 50px;
      }

      .userName {
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .Nav {
    .logo {
      margin-left: 70px;
      a {
        font-size: 30px;
      }
    }
    .login_signup {
      flex-direction: column;
      text-align: center;
      margin-right: 20px;
      .login {
        cursor: pointer;
        margin: 10px 0;
        .logInBtn {
          width: 100%;
          font-size: 10px;
        }
      }
      .signup {
        width: 100%;
        margin-left: 0;

        .signUpBtn {
          width: 100%;
          font-size: 10px;
        }
      }
    }
  }
}
