.Offers {
  position: relative;
  display: flex;
  justify-content: space-between;
  min-height: 400vh;
  background-color: rgb(240, 240, 240);
  .filter-tool {
    width: 15%;
    height: 100%;
  }
  .offers-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    row-gap: 20px;
    column-gap: 40px;
    width: 70%;
    margin: 70px auto;
  }
}

// @media screen and (max-width: 1648px) {
//   .Offers {
//     .offers-container {
//       grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
//       gap: 60px;
//     }
//   }
// }

// @media screen and (max-width: 800px) {
//   .Offers {
//     .offers-container {
//       gap: 10px;
//       width: 100%;
//       padding: 10px;
//       grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
//     }
//     .filter-tool {
//     }
//   }
// }
