.OfferSpecification {
  @include flex(row);
  justify-content: space-between;
  background-color: $main-color3;
  border-radius: 50px;
  width: 90%;
  margin: 100px auto;
  flex-wrap: wrap;
  height: 100%;
  align-items: flex-start;
  .specification {
    @include flex(column);
    padding: 60px;
    width: 50%;
    align-items: flex-start;
    .detailsHeader {
      @include flex(row);
      justify-content: space-between;
      width: 100%;
      position: relative;
      .studentFriendly {
        .studentFriendlyContainer {
          border: solid #32ba7c 1px;
          background-color: transparent;
          color: #000000;
          border-radius: 50px;
          font-size: 15px;
        }
      }
    }
    .mainDetails {
      width: 100%;
      margin-top: 40px;
      font-size: 25px;

      .location-features {
        @include flex(row);
        justify-content: space-between;
        align-items: flex-start;
        .locationAdvantages {
          @include flex(column);
          width: 35%;
          font-size: 20px;
          .universities,
          .transportations {
            margin-bottom: 20px;
            .uniTitle,
            .transportationType {
              font-weight: bolder;
            }
            .transportation,
            .university {
              display: flex;
              width: 100%;
              justify-content: space-between;

              .icon-uniName,
              .icon-transportationName {
                display: flex;

                .uniName,
                .transportationName {
                  margin-left: 3px;
                }
              }
            }
            width: 100%;
          }
        }
      }
      .offerFeatures {
        width: 100%;
        .featuresList {
          @include flex(row);
          width: 50%;
          margin-top: 20px;
          justify-content: flex-start;
          justify-content: space-between;
          ul {
            margin: 0;
            padding: 0;
          }
        }
      }
    }
  }
  .map {
    @include flex(row);
    width: fit-content;
    background-color: red;
  }
}
