.Profile {
  margin: 0 auto;
  width: 90%;
  .controlBtns {
    @include flex(row);
    justify-content: flex-start;
    padding: 100px 0;
    gap: 40px;
    .controlBtn,
    #logoutBtn {
      font-size: 15px;
      padding: 10px 40px;
      border-radius: 10px;
      background-color: transparent;
      border: solid #d1d1d1 2px;
      background-color: $main-color3;
      text-transform: capitalize;

      color: #8d8d8d;
      &:hover {
        transition: 0.5s;
        border: solid #0339a6 2px;
        color: #0339a6;
      }
    }
    #logoutBtn {
      font-size: 15px;
      padding: 10px 40px;
      border-radius: 10px;
      border: solid #ff0067 2px;
      color: #ff0067;
      font-weight: bolder;
      &:hover {
        transition: 0.5s;
        background-color: #ff84b548;
        border: solid #ff0067 2px;
        color: #ff0067;
      }
    }
  }
  .profileImageContainer {
    .profileImageTitle {
      font-weight: bolder;
      margin-bottom: 20px;
    }
    .profileImage-extraInfo {
      @include flex(row);
      width: fit-content;
      justify-content: flex-start;
      .profileImage {
        position: relative;
        height: 100px;
        object-fit: cover;
        width: 100px;
        margin-right: 20px;
        .ld-img {
          border-radius: 50px;
          width: 100px;
        }
      }
      .editBtns-note {
        .editBtns {
          @include flex(row);
          justify-content: space-around;
          width: 100%;
          .changeAvatar,
          .deleteAvatar {
            font-size: 15px;
            border-radius: 50px;
            padding: 8px 30px;
            margin-right: 20px;
            border-radius: 20px;
            padding: 5px 30px;
            text-transform: capitalize;
            font-family: roboto;
            font-size: 18px;
            font-weight: bold;
          }
          .changeAvatar {
            color: #fff;
            background-color: #78a5ff;
            border: solid #0339a6 1px;
            &:hover {
              background-color: rgba(120, 165, 255, 0.829);
            }
          }
          .deleteAvatar {
            background-color: #c0c0c0;
            border: solid #080808 1px;
            color: #080808;

            &:hover {
              background-color: #c0c0c0a1;
            }
          }
        }
        .note {
          margin-top: 10px;
          font-size: 10px;
        }
      }
    }
  }
  .primaryInfo {
    margin-top: 100px;
    .title {
      font-weight: bolder;
      margin: 20px 0;
    }
    .primaryInformationForm {
      width: 50%;
      .primaryInfoInput {
        background-color: $main-color3;
        border-radius: 10px;
      }
    }
  }
}
