.RecentOffers {
  position: relative;
  min-height: 100vh;
  width: 100vw;
  background-color: red;
  .slider-container {
    @include flex(row);
  }
  .title {
    display: inline-block;
    width: fit-content;
    margin: 70px 0 90px 0;
    width: 100%;
    text-align: center;
  }
}
