.ForLandlords {
  @include flex(column);
  min-height: 80vh;
  width: 100vw;
  margin-bottom: 100px;

  .title {
    width: fit-content;
    margin: 50px 0;
  }
  .services {
    @include flex(row);
    width: 100%;
    gap: 70px;
    .service {
      width: 300px;
      .service-img {
        img {
          width: 100%;
        }
      }
      .service-title {
        margin: 5px 0;
        h2 {
        }
      }
      .service-text {
        p {
        }
      }
    }
  }
}
