.RecentOffers {
  min-height: 100vh;
  width: 100vw;
  @include flex(column);
  .title {
    display: inline-block;
    width: fit-content;
    margin: 50px 0;
  }
  .offers {
    width: 100%;
    height: 80%;
    @include flex(row);
    gap: 20px;

    .offer {
      @include card();
    }
  }
}
