@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap");
.Nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  width: 100vw;
  height: 60px;
  -webkit-box-shadow: 1px 1px 5px #0000002d;
          box-shadow: 1px 1px 5px #0000002d;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 30px;
}

.Nav #check,
.Nav .ham-menu {
  display: none;
}

.Nav .logo {
  left: 0;
  position: absolute;
  cursor: pointer;
  margin-left: 60px;
}

.Nav .logo a {
  color: #363636;
  font-size: 40px;
  text-decoration: none;
  font-family: roboto;
  font-weight: bolder;
}

.Nav .menu {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.Nav .menu nav {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.Nav .menu nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  margin: 0;
  padding: 0;
}

.Nav .menu nav ul li {
  position: relative;
  text-align: center;
  cursor: pointer;
  margin: 0 30px;
  font-size: 23px;
}

.Nav .menu nav ul li a {
  text-decoration: none;
  color: #363636;
}

.Nav .menu nav ul li a:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  opacity: 60%;
}

.Nav .login_signup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 0;
  margin-right: 40px;
}

.Nav .login_signup .login {
  cursor: pointer;
}

.Nav .login_signup .login .logInBtn {
  background-color: #78a5ff;
  border: solid #0339a6 1px;
  border-radius: 20px;
  padding: 5px 30px;
  text-transform: capitalize;
  color: #fff;
  font-family: roboto;
  font-weight: bolder;
}

.Nav .login_signup .login .logInBtn:hover {
  background-color: rgba(120, 165, 255, 0.829);
}

.Nav .login_signup .signup {
  cursor: pointer;
  margin-left: 10px;
}

.Nav .login_signup .signup .signUpBtn {
  background-color: #ffb8d5;
  border: solid #ff0067 1px;
  border-radius: 20px;
  padding: 5px 30px;
  text-transform: capitalize;
  color: #ff0067;
  font-family: roboto;
  font-weight: bolder;
}

.Nav .login_signup .signup .signUpBtn:hover {
  background-color: #ffb8d6d2;
}

@media screen and (max-width: 900px) {
  .Nav .menu {
    -webkit-transform: translateY(-100vh);
            transform: translateY(-100vh);
  }
  .Nav .ham-menu {
    display: block;
    position: absolute;
    left: 0;
    margin-left: 20px;
    z-index: 99;
  }
  .Nav #check:checked ~ .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transition: 0.3s;
    transition: 0.3s;
    background-color: #5b5f97;
    width: 100vw;
    height: 50vh;
    z-index: 98;
  }
  .Nav #check:checked ~ .menu nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .Nav #check:checked ~ .menu nav ul li.active::after {
    display: none;
  }
}

.Header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100vw;
  height: calc(100vh - 60px);
}

.Header .text {
  width: 30%;
}

.Header .text .hd-title h1 {
  font-size: 60px;
  font-family: roboto;
  font-weight: bolder;
  color: #363636;
}

.Header .text .hd-description {
  margin: 10px 0;
}

.Header .text .hd-description p {
  font-size: 35px;
  font-family: roboto;
}

.Header .vector-img-container {
  position: relative;
  width: 40%;
  height: 70%;
  margin-right: 5px;
  -o-object-fit: cover;
     object-fit: cover;
}

.Header .vector-img-container .ld-img {
  border-radius: 50px;
}

@media screen and (max-width: 1518px) {
  .Header .text .hd-title h1 {
    font-size: 50px;
  }
  .Header .vector-img-container {
    width: 600px;
  }
}

@media screen and (max-width: 1333px) {
  .Header .text .hd-title h1 {
    font-size: 40px;
  }
  .Header .text .hd-description p {
    font-size: 20px;
  }
  .Header .vector-img-container {
    width: 500px;
  }
}

@media screen and (max-width: 1000px) {
  .Header .text {
    width: 90%;
  }
  .Header .text .hd-title h1 {
    font-size: 40px;
  }
  .Header .text .hd-description p {
    font-size: 20px;
  }
  .Header .vector-img-container {
    display: none;
  }
}

.RecentOffers {
  position: relative;
  min-height: 100vh;
  width: 100vw;
  text-align: center;
}

.RecentOffers .title {
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 70px 0 90px 0;
}

.RecentOffers .offers {
  width: 100%;
  z-index: 9;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}

.RecentOffers .offers .offer {
  height: 520px;
  min-width: 350px;
  background-color: #fffffb;
  border-radius: 20px;
  -webkit-box-shadow: -1px 1px 14px -2px rgba(0, 0, 0, 0.247);
  box-shadow: -1px 1px 14px -2px rgba(0, 0, 0, 0.205);
  padding: 30px;
}

.RecentOffers .offers .offer:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media screen and (max-width: 640px) {
  .RecentOffers .offers .offer {
    min-width: 350px;
    height: 250px;
  }
}

.ForLandlords {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100vw;
  margin-bottom: 100px;
  padding: 20px;
  min-height: 70vh;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.ForLandlords .features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
  gap: 20px;
  width: 40%;
}

.ForLandlords .features .feature {
  background-color: transparent;
  padding: 20px 100px 20px 20px;
  border-radius: 20px;
  border: solid #363636 1px;
}

.ForLandlords .features .feature .feature-title {
  color: #5b5f97;
  margin: 10px 0;
}

.ForLandlords .features .feature .sub-features {
  color: #363636;
  font-size: 20px;
}

.ForLandlords .feature-view {
  width: 40%;
  height: 100%;
  border-radius: 20px;
  border: solid #363636 1px;
  padding: 20px;
}

.ForLandlords .feature-view .right-btn {
  float: right;
}

.ForLandlords .feature-view .feature-view-title {
  margin: 20px 0;
  color: #5b5f97;
}

.ForLandlords .feature-view .feature-image-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 200px;
  width: 100%;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.ForLandlords .feature-view .feature-image-description .image-preview {
  position: relative;
  width: 50%;
  height: 100%;
  margin-right: 5px;
  -o-object-fit: cover;
     object-fit: cover;
}

.ForLandlords .feature-view .feature-image-description .image-preview .ld-img {
  border-radius: 50px;
}

.ForLandlords .feature-view .feature-image-description .feature-description {
  width: 50%;
}

.ForLandlords .feature-view .feature-image-description .feature-description p {
  color: #363636;
}

.Footer {
  width: 100vw;
  height: 50vh;
  background-color: #5b5f97;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: auto;
}

.Offers {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 400vh;
  background-color: #f0f0f0;
}

.Offers .filter-tool {
  width: 25%;
  height: 100%;
}

.Offers .offers-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(500px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  row-gap: 20px;
  -webkit-column-gap: 40px;
          column-gap: 40px;
  width: 70%;
  margin: 70px auto;
}

@media screen and (max-width: 1648px) {
  .Offers .offers-container {
    -ms-grid-columns: (minmax(350px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 60px;
  }
}

@media screen and (max-width: 800px) {
  .Offers .offers-container {
    gap: 10px;
    width: 100%;
    padding: 10px;
    -ms-grid-columns: (minmax(40%, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
  }
}

.Card {
  height: 520px;
  min-width: 350px;
  background-color: #fffffb;
  border-radius: 20px;
  -webkit-box-shadow: -1px 1px 14px -2px rgba(0, 0, 0, 0.247);
  box-shadow: -1px 1px 14px -2px rgba(0, 0, 0, 0.205);
  padding: 30px;
  min-height: 700px;
}

.Card:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media screen and (max-width: 640px) {
  .Card {
    min-width: 350px;
    height: 250px;
  }
}

.Card .offer-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  width: 100%;
}

.Card .offer-images .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  z-index: 99;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Card .offer-images .carousel {
  width: 100%;
}

.Card .offer-images .carousel .slider {
  position: relative;
  background-color: blue;
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.Card .offer-details .offer-title {
  margin: 10px 0;
  color: gray;
  font-size: 25px;
  font-weight: bold;
  text-transform: capitalize;
}

.Card .offer-details .price-rank {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Card .offer-details .price-rank .price-info {
  color: #000;
  font-weight: bolder;
  font-weight: bold;
}

.Card .offer-details .price-rank .price-info p {
  color: gray;
  font-weight: bolder;
}

.Card .offer-details .price-rank .offer-ranking {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: transparent;
  border: solid #5b5f97 2px;
  padding: 5px 10px;
}

.Card .offer-details .price-rank .offer-ranking p {
  margin-right: 5px;
  color: #5b5f97;
  font-weight: bold;
}

.Card .offer-details .line {
  width: 100%;
  height: 1px;
  margin: 5px 0;
  background-color: #cecece;
}

.Card .offer-details .landlord-facilities {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Card .offer-details .landlord-facilities .landlord {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.Card .offer-details .landlord-facilities .landlord .landlord-img {
  position: relative;
  width: 32px;
  height: 32px;
  margin-right: 5px;
  -o-object-fit: cover;
     object-fit: cover;
}

.Card .offer-details .landlord-facilities .landlord .landlord-img .ld-img {
  border-radius: 50px;
}

.Card .offer-details .landlord-facilities .landlord .landlord-name p {
  color: #5b5f97;
}

.Card .offer-details .landlord-facilities .facilities {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 35%;
  padding: 5px;
}

.Card .offer-details .landlord-facilities .facilities .facilitie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 5px;
}

.Card .offer-details .datePosted-goToOfferBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
}

.Card .offer-details .datePosted-goToOfferBtn .date-posted p {
  color: rgba(163, 163, 163, 0.972);
}

.Card .offer-details .datePosted-goToOfferBtn .go-to-offer-btn button {
  padding: 10px;
  border: none;
  border-radius: 20px 0 20px 0;
  background-color: #5b5f97;
  color: #fffffb;
}

.Card .offer-details .datePosted-goToOfferBtn .go-to-offer-btn button:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #787bad;
}

.Card:hover {
  -webkit-box-shadow: 1px 1px 8px #00000056;
          box-shadow: 1px 1px 8px #00000056;
}

.FilterTool {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #fffffb;
  text-align: center;
  min-height: 100vh;
  border-radius: 30px;
  padding: 20px;
  margin: 60px;
}

.FilterTool .title-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
}

.FilterTool .title-arrow .title p {
  font-size: 1.5em;
}

.FilterTool .price,
.FilterTool .location,
.FilterTool .date,
.FilterTool .property-type {
  position: relative;
  width: 100%;
}

.FilterTool .price input,
.FilterTool .location input,
.FilterTool .date input,
.FilterTool .property-type input {
  border: none;
  outline: none;
  padding: 15px;
  margin: 5px 0;
  background-color: #fff;
  border-radius: 10px;
  width: 100%;
}

.FilterTool .drop-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0 10px;
  margin-top: 5px;
  width: 100%;
}

.FilterTool .drop-down div input {
  margin-right: 3px;
}

.FilterTool .arrow-up {
  display: none;
}

.FilterTool .action-btn-filter button {
  background-color: #5b5f97;
  border: none;
  border: #5b5f97;
  outline: none;
  padding: 10px 70px;
  color: #fffffb;
  color: #fffffb;
  border: solid #5b5f97 0.5px;
  font-size: 25px;
  border-radius: 30px;
  margin: 20px 0;
  cursor: pointer;
}

.FilterTool .action-btn-filter button:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #484b77;
}

@-webkit-keyframes popup {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes popup {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 1050px) {
  .FilterTool .title-arrow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 10px;
  }
  .FilterTool .title-arrow .title p {
    font-size: 1em;
  }
}

.Login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100vh;
  width: 100vw;
  background-color: #f0f0f0;
}

.Login .header-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 50%;
  height: 100vh;
}

.Login .header-form .login-form-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

.Login .header-form .login-form-header .logo {
  cursor: pointer;
}

.Login .header-form .login-form-header .logo a {
  color: #363636;
  font-size: 40px;
  text-decoration: none;
}

.Login .header-form .login-form-header .back-home-btn button {
  background-color: transparent;
  border: none;
}

.Login .header-form .login-form-header .back-home-btn button:hover {
  color: #5b5f97;
}

.Login .header-form .login-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100%;
}

.Login .header-form .login-form .input-field {
  width: 100%;
}

.Login .header-form .login-form .input-field .email,
.Login .header-form .login-form .input-field .password {
  position: relative;
  padding: 15px 0 0;
  width: 50%;
  margin: 15px auto;
}

.Login .header-form .login-form .input-field .email .icon-emailInput,
.Login .header-form .login-form .input-field .email .icon-passInput,
.Login .header-form .login-form .input-field .password .icon-emailInput,
.Login .header-form .login-form .input-field .password .icon-passInput {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: #fff;
  border-radius: 10px;
  width: 100%;
}

.Login .header-form .login-form .input-field .email .icon-emailInput .email-icon,
.Login .header-form .login-form .input-field .email .icon-emailInput .pass-icon,
.Login .header-form .login-form .input-field .email .icon-passInput .email-icon,
.Login .header-form .login-form .input-field .email .icon-passInput .pass-icon,
.Login .header-form .login-form .input-field .password .icon-emailInput .email-icon,
.Login .header-form .login-form .input-field .password .icon-emailInput .pass-icon,
.Login .header-form .login-form .input-field .password .icon-passInput .email-icon,
.Login .header-form .login-form .input-field .password .icon-passInput .pass-icon {
  padding-left: 10px;
}

.Login .header-form .login-form .input-field .email .icon-emailInput .pass-icon,
.Login .header-form .login-form .input-field .email .icon-passInput .pass-icon,
.Login .header-form .login-form .input-field .password .icon-emailInput .pass-icon,
.Login .header-form .login-form .input-field .password .icon-passInput .pass-icon {
  cursor: pointer;
}

.Login .header-form .login-form .input-field .email .icon-emailInput .form__field,
.Login .header-form .login-form .input-field .email .icon-passInput .form__field,
.Login .header-form .login-form .input-field .password .icon-emailInput .form__field,
.Login .header-form .login-form .input-field .password .icon-passInput .form__field {
  border: none;
  outline: none;
  padding: 15px;
  margin: 5px 0;
  background-color: #fff;
  border-radius: 10px;
  height: 80px;
  font-size: 20px;
}

.Login .header-form .login-form .input-field .email .icon-emailInput .form__field::-webkit-input-placeholder,
.Login .header-form .login-form .input-field .email .icon-passInput .form__field::-webkit-input-placeholder,
.Login .header-form .login-form .input-field .password .icon-emailInput .form__field::-webkit-input-placeholder,
.Login .header-form .login-form .input-field .password .icon-passInput .form__field::-webkit-input-placeholder {
  font-size: 20px;
}

.Login .header-form .login-form .input-field .email .icon-emailInput .form__field:-ms-input-placeholder,
.Login .header-form .login-form .input-field .email .icon-passInput .form__field:-ms-input-placeholder,
.Login .header-form .login-form .input-field .password .icon-emailInput .form__field:-ms-input-placeholder,
.Login .header-form .login-form .input-field .password .icon-passInput .form__field:-ms-input-placeholder {
  font-size: 20px;
}

.Login .header-form .login-form .input-field .email .icon-emailInput .form__field::-ms-input-placeholder,
.Login .header-form .login-form .input-field .email .icon-passInput .form__field::-ms-input-placeholder,
.Login .header-form .login-form .input-field .password .icon-emailInput .form__field::-ms-input-placeholder,
.Login .header-form .login-form .input-field .password .icon-passInput .form__field::-ms-input-placeholder {
  font-size: 20px;
}

.Login .header-form .login-form .input-field .email .icon-emailInput .form__field::placeholder,
.Login .header-form .login-form .input-field .email .icon-passInput .form__field::placeholder,
.Login .header-form .login-form .input-field .password .icon-emailInput .form__field::placeholder,
.Login .header-form .login-form .input-field .password .icon-passInput .form__field::placeholder {
  font-size: 20px;
}

.Login .header-form .login-form .input-field .email .form__label,
.Login .header-form .login-form .input-field .password .form__label {
  font-size: 0.5rem;
  color: #bdbdbd;
  margin-left: 10px;
}

.Login .header-form .login-form .login-register-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 150px;
  width: 50%;
}

.Login .header-form .login-form .login-register-btns .register-forgotPass button {
  background-color: transparent;
  border: none;
  margin-right: 20px;
}

.Login .header-form .login-form .login-register-btns .register-forgotPass button:hover {
  color: #5b5f97;
}

.Login .header-form .login-form .login-register-btns #login-btn {
  background-color: #5b5f97;
  border: none;
  border: #fffffb;
  outline: none;
  padding: 10px 70px;
  color: #fffffb;
  color: #fffffb;
  border: solid #fffffb 0.5px;
  font-size: 25px;
  border-radius: 30px;
  margin: 20px 0;
  cursor: pointer;
}

.Login .header-form .login-form .login-register-btns #login-btn:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #484b77;
}

.Login .header-form .login-form .login-with {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 50%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.Login .header-form .login-form .login-with span {
  margin-left: 20px;
}

.Login .login-img {
  position: relative;
  width: 50%;
  height: 100%;
  margin-right: 5px;
  -o-object-fit: cover;
     object-fit: cover;
}

.Register {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100vh;
  width: 100vw;
  background-color: #f0f0f0;
}

.Register form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.Register .header-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 50%;
  height: 100vh;
}

.Register .header-form .register-form-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

.Register .header-form .register-form-header .logo {
  cursor: pointer;
}

.Register .header-form .register-form-header .logo a {
  color: #363636;
  font-size: 40px;
  text-decoration: none;
}

.Register .header-form .register-form-header .back-home-btn button {
  background-color: transparent;
  border: none;
}

.Register .header-form .register-form-header .back-home-btn button:hover {
  color: #5b5f97;
}

.Register .header-form .register-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  height: 50%;
}

.Register .header-form .register-form .input-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.Register .header-form .register-form .input-field .type-names {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  height: 100%;
  width: 40%;
}

.Register .header-form .register-form .input-field .type-names .type,
.Register .header-form .register-form .input-field .type-names .first-name,
.Register .header-form .register-form .input-field .type-names .last-name {
  width: 100%;
}

.Register .header-form .register-form .input-field .type-names .type .form__label,
.Register .header-form .register-form .input-field .type-names .first-name .form__label,
.Register .header-form .register-form .input-field .type-names .last-name .form__label {
  font-size: 1rem;
  color: #8a8a8a;
  margin-left: 10px;
}

.Register .header-form .register-form .input-field .gender-email-pass {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  height: 100%;
  width: 40%;
}

.Register .header-form .register-form .input-field .gender-email-pass .gender,
.Register .header-form .register-form .input-field .gender-email-pass .email,
.Register .header-form .register-form .input-field .gender-email-pass .password {
  width: 100%;
}

.Register .header-form .register-form .input-field .gender-email-pass .gender .form__label,
.Register .header-form .register-form .input-field .gender-email-pass .email .form__label,
.Register .header-form .register-form .input-field .gender-email-pass .password .form__label {
  font-size: 1rem;
  color: #8a8a8a;
  margin-left: 10px;
}

.Register .header-form .register-form .input-field input,
.Register .header-form .register-form .input-field select {
  border: none;
  outline: none;
  padding: 15px;
  margin: 5px 0;
  background-color: #fff;
  border-radius: 10px;
  width: 100%;
}

.Register .header-form .register-form .register-btn-container {
  margin-top: 60px;
}

.Register .header-form .register-form .register-btn-container #register-btn {
  background-color: #5b5f97;
  border: none;
  border: #fffffb;
  outline: none;
  padding: 10px 70px;
  color: #fffffb;
  color: #fffffb;
  border: solid #fffffb 0.5px;
  font-size: 25px;
  border-radius: 30px;
  margin: 20px 0;
  cursor: pointer;
}

.Register .header-form .register-form .register-btn-container #register-btn:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #484b77;
}

.Register .header-form .register-with {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.Register .header-form .register-with span {
  margin-left: 20px;
}

.Register .login-img {
  position: relative;
  width: 50%;
  height: 100%;
  margin-right: 5px;
  -o-object-fit: cover;
     object-fit: cover;
}

.LandlordDetails {
  background-color: #f0f0f0;
  height: 100vh;
  width: 100vw;
}

.LandlordDetails .landlord-details {
  background-color: #fff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 50px;
  padding: 30px 50px;
}

.LandlordDetails .landlord-details .image-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 10px 0;
}

.LandlordDetails .landlord-details .image-name .img {
  position: relative;
  width: 100px;
  height: 100px;
  margin-right: 5px;
  -o-object-fit: cover;
     object-fit: cover;
}

.LandlordDetails .landlord-details .image-name .img .ld-img {
  border-radius: 50px;
}

.LandlordDetails .landlord-details .contacts {
  background-color: #f0f0f0;
  border-radius: 20px;
  padding: 20px;
  margin: 10px 0;
}

.LandlordDetails .landlord-details .message-form .message {
  text-align: center;
}

.LandlordDetails .landlord-details .message-form .message #msg {
  width: 100%;
  height: 200px;
  border-radius: 20px;
  border: none;
  outline: none;
  padding: 10px;
  background-color: #f0f0f0;
}

.LandlordDetails .landlord-details .message-form #sendMessageBtn {
  font-size: 23px;
  border-radius: 20px;
  margin: 20px 0;
}

.OfferSpecification {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fffffb;
  border-radius: 50px;
  width: 90%;
  margin: 0 auto;
  flex-wrap: wrap;
  min-height: 70vh;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.OfferSpecification .specification {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 60px;
}

.OfferSpecification .specification .offerHeader {
  position: relative;
}

.OfferSpecification .specification .offerHeader .offer-duration .offerTitleH1 {
  font-weight: bolder;
  color: #0339a6;
}

.OfferSpecification .specification .offerHeader .offer-price .offerPriceH1 {
  margin-right: 350px;
}

.OfferSpecification .specification .offerHeader .studentFriendly {
  position: absolute;
  right: 0;
  bottom: 0;
}

.OfferSpecification .specification .offerHeader .studentFriendly .studentFriendlyContainer {
  background-color: #32ba7c;
  color: #fffffb;
  border-radius: 10px;
  font-size: 24px;
}

.OfferSpecification .specification .mainDetails {
  width: 100%;
  margin-top: 40px;
  font-size: 25px;
}

.OfferSpecification .specification .mainDetails .location-features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.OfferSpecification .specification .mainDetails .location-features .location-flatInfo .locationH1 {
  font-weight: bolder;
}

.OfferSpecification .specification .mainDetails .location-features .locationAdvantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 35%;
  font-size: 20px;
}

.OfferSpecification .specification .mainDetails .location-features .locationAdvantages .universities,
.OfferSpecification .specification .mainDetails .location-features .locationAdvantages .transportations {
  margin-bottom: 20px;
  width: 100%;
}

.OfferSpecification .specification .mainDetails .location-features .locationAdvantages .universities .uniTitle,
.OfferSpecification .specification .mainDetails .location-features .locationAdvantages .universities .transportationType,
.OfferSpecification .specification .mainDetails .location-features .locationAdvantages .transportations .uniTitle,
.OfferSpecification .specification .mainDetails .location-features .locationAdvantages .transportations .transportationType {
  font-weight: bolder;
}

.OfferSpecification .specification .mainDetails .location-features .locationAdvantages .universities .transportation,
.OfferSpecification .specification .mainDetails .location-features .locationAdvantages .universities .university,
.OfferSpecification .specification .mainDetails .location-features .locationAdvantages .transportations .transportation,
.OfferSpecification .specification .mainDetails .location-features .locationAdvantages .transportations .university {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.OfferSpecification .specification .mainDetails .location-features .locationAdvantages .universities .transportation .icon-uniName,
.OfferSpecification .specification .mainDetails .location-features .locationAdvantages .universities .transportation .icon-transportationName,
.OfferSpecification .specification .mainDetails .location-features .locationAdvantages .universities .university .icon-uniName,
.OfferSpecification .specification .mainDetails .location-features .locationAdvantages .universities .university .icon-transportationName,
.OfferSpecification .specification .mainDetails .location-features .locationAdvantages .transportations .transportation .icon-uniName,
.OfferSpecification .specification .mainDetails .location-features .locationAdvantages .transportations .transportation .icon-transportationName,
.OfferSpecification .specification .mainDetails .location-features .locationAdvantages .transportations .university .icon-uniName,
.OfferSpecification .specification .mainDetails .location-features .locationAdvantages .transportations .university .icon-transportationName {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.OfferSpecification .specification .mainDetails .location-features .locationAdvantages .universities .transportation .icon-uniName .uniName,
.OfferSpecification .specification .mainDetails .location-features .locationAdvantages .universities .transportation .icon-uniName .transportationName,
.OfferSpecification .specification .mainDetails .location-features .locationAdvantages .universities .transportation .icon-transportationName .uniName,
.OfferSpecification .specification .mainDetails .location-features .locationAdvantages .universities .transportation .icon-transportationName .transportationName,
.OfferSpecification .specification .mainDetails .location-features .locationAdvantages .universities .university .icon-uniName .uniName,
.OfferSpecification .specification .mainDetails .location-features .locationAdvantages .universities .university .icon-uniName .transportationName,
.OfferSpecification .specification .mainDetails .location-features .locationAdvantages .universities .university .icon-transportationName .uniName,
.OfferSpecification .specification .mainDetails .location-features .locationAdvantages .universities .university .icon-transportationName .transportationName,
.OfferSpecification .specification .mainDetails .location-features .locationAdvantages .transportations .transportation .icon-uniName .uniName,
.OfferSpecification .specification .mainDetails .location-features .locationAdvantages .transportations .transportation .icon-uniName .transportationName,
.OfferSpecification .specification .mainDetails .location-features .locationAdvantages .transportations .transportation .icon-transportationName .uniName,
.OfferSpecification .specification .mainDetails .location-features .locationAdvantages .transportations .transportation .icon-transportationName .transportationName,
.OfferSpecification .specification .mainDetails .location-features .locationAdvantages .transportations .university .icon-uniName .uniName,
.OfferSpecification .specification .mainDetails .location-features .locationAdvantages .transportations .university .icon-uniName .transportationName,
.OfferSpecification .specification .mainDetails .location-features .locationAdvantages .transportations .university .icon-transportationName .uniName,
.OfferSpecification .specification .mainDetails .location-features .locationAdvantages .transportations .university .icon-transportationName .transportationName {
  margin-left: 3px;
}

.OfferSpecification .specification .mainDetails .offerFeatures {
  width: 100%;
}

.OfferSpecification .specification .mainDetails .offerFeatures .featuresH4 {
  font-weight: bolder;
}

.OfferSpecification .map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 60px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Gotham Rounded, sans-serif;
  font-weight: normal;
  list-style: none;
  padding: 0;
  margin: 0;
}

body,
html {
  position: relative;
  overflow-x: hidden;
  min-height: 100vh;
  scroll-behavior: smooth;
  background-color: #fffffb;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.children {
  min-height: 100vh;
  background-color: #f0f0f0;
}
/*# sourceMappingURL=App.css.map */