@import "./sass/config";
@import "./sass/nav";
@import "./sass/header";
@import "./sass/recentOffers";
@import "./sass/forLandlords";
@import "./sass/footer";
@import "./sass/offers";
@import "./sass/card";
@import "./sass/filterTool";
@import "./sass/login";
@import "./sass/register";
@import "./sass/offerDetails";
@import "./sass/LandlordDetails";
@import "./sass/offerImages";
@import "./sass/OfferSpecification";
@import "./sass/offerDescription";
@import "./sass/otherOffers";
@import "./sass/profile";
@import "./sass/contact";
@import "./sass/createOffer";

* {
  box-sizing: border-box;
  font-family: Gotham Rounded, sans-serif;
  font-weight: normal;
  list-style: none;
  padding: 0;
  margin: 0;
}

body,
html {
  position: relative;
  overflow-x: hidden;
  min-height: 100vh;
  scroll-behavior: smooth;
  background-color: $main-color3;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.children {
  min-height: 100vh;
  background-color: rgb(240, 240, 240);
}
