name: Node CI
on:
  push:
    branches: [main, robot-testing]
  pull_request:
    branches: [main]
jobs:
  robot-testing:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: sudo apt install chromium-chromedriver
      - run: sudo pip3 install robotframework
      - run: sudo npm install -g webdriver-manager
      - run: sudo webdriver-manager update
      - run: sudo nohup webdriver-manager start &
      - run: sudo pip3 install --upgrade robotframework-seleniumlibrary
      - run: sudo chmod u+x run_tests.sh
      - run: sudo npm install --silent
      - run: sudo nohup npm run dev &
      - run: sudo ./run_tests.sh
        shell: bash
  test_pull_request:
    name: test_pullrequests
    runs-on: ${{matrix.os}}
    strategy:
      matrix:
        os: [ubuntu-latest, macOS-latest]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 12
      - run: npm ci
      - run: npm install --silent
      - run: npm run build
  docker:
    name: Docker build image
    runs-on: ubuntu-latest
    steps:
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          image: robot-testing-viarent:latest
          push: true
          tags: abdualiandrei/fullstack-renting-application:latest
